<div class="flexslider qor-slider">
  <ul class="slides">
    {{range $slideImage := .Setting.SlideImages}}
      {{Raw $slideImage.Value}}
    {{end}}
  </ul>
</div>
<link type="text/css" rel="stylesheet" href="/vendors/flexslider.css" />
<script src="/vendors/jquery.flexslider-min.js"></script>
<script>
  $(function(){
    $('.flexslider').flexslider({
      animation: 'slide',
      touch: true,
      directionNav: false,
      smoothHeight: true
    });
  })
</script>
